* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgba(56, 0, 0, 0);
  background-image: url(./assets/hero-image2.avif);
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(255, 166, 0);
}

/* header */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.links {
  display: flex;
  gap: 2rem;
  text-transform: capitalize;
}

.navbar .toggle-btn {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action-btn {
  background-color: rgba(255, 166, 0, 0.884);
  color: rgb(255, 255, 255);
  padding: 1rem 1.5rem;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.action-btn:hover {
  color: rgb(255, 255, 255);
  scale: 1.05;
}

.action-btn:active {
  scale: 0.95;
}

/****************** drpodown menu[appers on min-width of ] *******************/
.dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 2rem;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dropdown.open {
  height: 200px;
}

.dropdown li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}

.dropdown .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

/******************** responsive design ********************/
@media (max-width: 700px) {
  .navbar .links,
  .navbar .action-btn {
    display: none;
  }
  .navbar .toggle-btn {
    display: block;
  }
  .dropdown {
    display: block;
  }
}
